1. How do you create an empty list in Python?

In [1]:
empty_list = []

2. How do you create a list with initial values in Python?

In [2]:
lista = [1,4,7]

3. How do you access the first element of a list in Python?

In [3]:
lista[0]

1

4. How do you access the last element of a list in Python?

In [4]:
lista[-1]

7

5. How do you access a specific element of a list in Python?

In [5]:
lista[1]

4

6. How do you append an element to the end of a list in Python?

In [6]:
lista.append(89)

7. How do you insert an element at a specific index in a list in Python?

In [7]:
lista.insert(1,'Inserted')
lista

[1, 'Inserted', 4, 7, 89]

8. How do you remove an element from a list in Python?

In [8]:
lista.remove('Inserted')
lista

[1, 4, 7, 89]

9. How do you remove the last element from a list in Python?

In [9]:
lista.pop()
lista

[1, 4, 7]


10. How do you remove an element at a specific index from a list in Python?

In [10]:
lista.pop(1)
lista

[1, 7]

11. How do you check if an element is in a list in Python?

In [11]:
'Inserted' in lista

False

12. How do you count the number of occurrences of an element in a list in Python?

In [12]:
lista = [1,2,3,4,5,6,1,2,1,2,1,1,1]
lista.count(1)

6

13. How do you find the index of the first occurrence of an element in a list in Python?

In [13]:
lista.index(5)

4

14. How do you find the index of the last occurrence of an element in a list in Python?

In [14]:
lista[::-1].index(2)

3

15. How do you reverse the order of a list in Python?

In [15]:
lista.reverse()
lista

[1, 1, 1, 2, 1, 2, 1, 6, 5, 4, 3, 2, 1]

16. How do you sort a list in Python?

In [16]:
lista.sort()
lista

[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 6]

17. How do you sort a list in descending order in Python?

In [17]:
lista.sort(reverse = True)
lista

[6, 5, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1]

18. How do you join two lists in Python?

In [18]:
listb = ['a','b','c']
lista + listb

[6, 5, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 'a', 'b', 'c']

19. How do you copy a list in Python?

In [19]:
listc = lista.copy()
listc

[6, 5, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1]

20. How do you check if two lists are equal in Python?

In [20]:
print(listc == lista)
print(listc == listb)

True
False

21. How do you iterate over a list in Python?

In [21]:
for i in lista:
    print(i)

6
5
4
3
2
2
2
1
1
1
1
1
1

22. How do you iterate over a list in reverse order in Python?

In [22]:
for i in lista[::-1]:
    print(i)

1
1
1
1
1
1
2
2
2
3
4
5
6

23. How do you create a sublist from a list in Python?

In [23]:
sb_lista = lista[1:3]
sb_lista

[5, 4]

24. How do you concatenate a sublist to a list in Python?

In [24]:
lista.append(listb)

In [25]:
lista

[6, 5, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, ['a', 'b', 'c']]

25. How do you find the maximum value in a list in Python?

In [26]:
lista = [i for i in range(10)]
from random import shuffle
lista = shuffle(lista)
lista

In [27]:
import random
lista = [i for i in range(10)]

random.shuffle(lista)

print(lista)

lista.sort()

[9, 3, 7, 2, 4, 6, 1, 0, 5, 8]

In [28]:
lista[-1]

9

26. How do you find the minimum value in a list in Python?

In [29]:
min(lista)

0

27. How do you find the sum of a list in Python?

In [30]:
sum(lista)

45

28. How do you find the average of a list in Python?

In [31]:
sum(lista) / len(lista)

4.5

29. How do you remove duplicates from a list in Python?

In [32]:
dups = []

for element in lista:
    if element in dups:
        lista.remove(element)
    else:
        dups.append(element)
dups

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

30. How do you create a list of unique elements from two lists in Python?

In [33]:
lista = lista+ lista
listb

['a', 'b', 'c']

In [34]:
unq = []

lista = lista +listb
for element in lista:
    if element not in unq:
        unq.append(element)
unq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

31. How do you create a list of unique elements from multiple lists in Python?

In [35]:
# convert to single list by adding the elements
# Convert to a set onky uniques will be present
# convert to a list

32. How do you create a list of all combinations of elements from two lists in Python?

In [36]:
lista = [1,2,3,4,5,6,6,67,90]
listb = ['a','b','c','d']

from itertools import product

combinations = list(product(lista,listb))
len(combinations)

36

33. How do you create a list of all permutations of elements from a list in Python?

In [37]:
from itertools import permutations

permutations_list = list(permutations(lista))
len(permutations_list)

362880

34. How do you find the intersection of two lists in Python?

In [38]:
lista = [1,2,3,4,5]
listb = [4,5,6,7,8]

inter = set(lista) & set(listb)
inter

{4, 5}

35. How do you find the union of two lists in Python?

In [39]:
union = set(lista)| set(listb)
union

{1, 2, 3, 4, 5, 6, 7, 8}

36. How do you find the difference between two lists in Python?

In [40]:
set(lista) -set(listb)

{1, 2, 3}

37. How do you find the symmetric difference between two lists in Python?

In [41]:
set(lista).symmetric_difference(set(listb))

{1, 2, 3, 6, 7, 8}

38. How do you check if a list is a subset of another list in Python?

In [42]:
listc = [4,5]
listd = [45,78]

print(
f'{set(listc).issubset(lista)},\
    {set(listd).issubset(lista)},\
    {set(lista).issubset(listc)},\
    {set(lista).issubset(listd)}')

True,    False,    False,    False

39. How do you check if a list is a superset of another list in Python?

In [43]:
set(lista).issuperset(set(listb))

False

40. How do you check if two lists have any common elements in Python?

In [44]:
bool(set(lista).intersection(set(listb)))

True

41. How do you flatten a nested list in Python?

In [45]:
listu = lista+listb+listc+listd
listu

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 4, 5, 45, 78]

In [46]:
set(listu).issuperset(set(lista))

True

42. How do you group elements in a list by a certain criterion in Python?

In [47]:
listu

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 4, 5, 45, 78]

In [48]:
cond1 = [i for i in listu if i%2 == 0]
cond1

[2, 4, 4, 6, 8, 4, 78]

43. How do you partition a list into two parts based on a condition in Python?

44. How do you randomly shuffle the elements of a list in Python?

In [49]:
from random import shuffle
shuffle(listu)
listu

[5, 7, 3, 6, 4, 4, 4, 1, 5, 5, 8, 45, 78, 2]

45. How do you find the second largest element in a list in Python?

In [50]:
listu.sort()
listu[-2]

45

46. How do you find the second smallest element in a list in Python?

In [51]:
listu[1]

2

47. How do you find the kth largest element in a list in Python?

In [52]:

def kth_largest(k, rec):
    rec.sort()
    return rec[len(rec)-k]

print(kth_largest(3,listu))
listu

8

[1, 2, 3, 4, 4, 4, 5, 5, 5, 6, 7, 8, 45, 78]

48. How do you find the kth smallest element in a list in Python?Bottom of Form

In [53]:
def kth_smallest(k, rec):
    rec.sort()
    return rec[k]-1

print(kth_smallest(3,listu))
listu

3

[1, 2, 3, 4, 4, 4, 5, 5, 5, 6, 7, 8, 45, 78]

1. Create a tuple with three elements.

In [54]:
tup1 = (1,2,3)

2. Print the second element of the tuple.

In [55]:
tup1[1]

2

3. Create a tuple of integers and convert it to a string. Tup = (1,2,3) à (‘1’, ‘2’, ‘3’)

In [56]:
tup1

tup2 = tuple(str(element) for element in tup1)
tup2

('1', '2', '3')

4. Concatenate two tuples.

In [57]:
tup1+tup2

(1, 2, 3, '1', '2', '3')

5. Find the length of a tuple.

In [58]:
len(tup1)

3

6. Check if an element exists in a tuple.

In [59]:
2 in tup1

True

7. Iterate over a tuple and print each element.

In [60]:
for i in tup1:
    print(i)

1
2
3

8. Create a tuple with one element and print its type.

In [61]:
tup1

type(tup1[0])

int

9. Create a tuple with repeated elements.

In [62]:
tup1 = (1,1,2,3,4,6,6,7,8,9)
tup1

(1, 1, 2, 3, 4, 6, 6, 7, 8, 9)

10. Unpack a tuple into variables.

In [63]:
a,b,c = tup2

print(a,b,c)

1 2 3

11. Create a nested tuple.

In [64]:
tup3 = (1,2,3,('a','b','c'))
tup3

(1, 2, 3, ('a', 'b', 'c'))

12. Access an element of a nested tuple.

In [65]:
tup3[3][1]

'b'

13. Create a tuple with mixed data types.

In [66]:
tup_4 = (1,'a',True,1.34)

14. Check the data type of each element in a tuple.

In [67]:

for i in tup_4:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

15. Create a tuple with a single element.

In [68]:
tup_1 = (3)
tup_1

3

16. Compare two tuples.

In [69]:
tup3 == tup_4

False

17. Return the largest element in a tuple.

In [70]:
tup1 = tuple(i for i in range(10))
max(tup1)

9

18. Return the smallest element in a tuple.

In [71]:
min(tup1)

0

19. Remove an element from a tuple.

In [72]:
# tup1  tuples are immutable

tup2 = tuple(i for i in tup1 if i != 3)
tup2

(0, 1, 2, 4, 5, 6, 7, 8, 9)

20. Reverse a tuple.

In [73]:
tup2[::-1]

(9, 8, 7, 6, 5, 4, 2, 1, 0)

21. Count the number of occurrences of an element in a tuple.

In [74]:
len(tup2)

9

22. Check if all elements in a tuple are equal.

In [75]:
tup3 = [2,2,2,2,2]
tup2

def all_elements_equal(tuple_to_check):
    return all(element == tuple_to_check[0] for element in tuple_to_check)

all_elements_equal(tup3)

True

23. Find the index of an element in a tuple.

In [76]:
tup2.index(2)

2

24. Create a tuple from a list.

In [77]:
tup1 = tuple(lista)
tup1

(1, 2, 3, 4, 5)

25. Convert a tuple to a list.

In [78]:
list3 = list(tup3)
list3

[2, 2, 2, 2, 2]

26. Convert a list of tuples to a list of strings.

In [79]:
tup1 = (1,2,3)
tup2 = (2,4,6)
tup3 = (1,3,5,7,9)
tup4 = ('a','b','c','d')

list_of_tup  = [tup1,tup2,tup3,tup4]
print ("List of Tuples\t:")
print(list_of_tup)

list_of_strings =  [str(item) for tup in list_of_tup for item in tup]
print('\nList of individual strings\t:')
print(list_of_strings)

list_of_joined_str = [''.join(map(str,tup)) for tup in list_of_tup]
print('\nList of joined tuples\t:')
print(list_of_joined_str)

List of Tuples	:
[(1, 2, 3), (2, 4, 6), (1, 3, 5, 7, 9), ('a', 'b', 'c', 'd')]

List of individual strings	:
['1', '2', '3', '2', '4', '6', '1', '3', '5', '7', '9', 'a', 'b', 'c', 'd']

List of joined tuples	:
['123', '246', '13579', 'abcd']

27. Concatenate a tuple and a list.

In [80]:
print(tup1)
lista = ['a','b','c']
print(lista)

tup1 +tuple(lista)

(1, 2, 3)
['a', 'b', 'c']

(1, 2, 3, 'a', 'b', 'c')

28. Create a tuple from a string.

In [81]:
str1 = 'String'
tuple(str1)

('S', 't', 'r', 'i', 'n', 'g')

29. Create a new tuple with only unique elements.

In [82]:
str2= 'Sriidharr is the Ghhost of the Ucchiha'
tuple(set(str2))

('s', 'd', ' ', 'S', 'i', 'o', 'c', 'e', 'G', 'U', 'r', 'h', 't', 'f', 'a')

30. Sort a tuple of numbers in descending order.

In [83]:
from random import randint
tup1 = tuple(randint(1,15) for i in range(15))
print(tup1)

sorted(tup1,reverse=True)

(9, 8, 15, 9, 12, 2, 13, 12, 11, 1, 9, 4, 4, 13, 5)

[15, 13, 13, 12, 12, 11, 9, 9, 9, 8, 5, 4, 4, 2, 1]

31. Create a tuple with elements in reverse order.

In [84]:
from random import randint
tup1 = tuple(randint(1,10) for i in range(15))
print(tup1)
reversed_tup1 = tup1[::-1]
print(reversed_tup1)

(5, 9, 4, 4, 7, 9, 2, 7, 3, 7, 4, 5, 8, 9, 8)
(8, 9, 8, 5, 4, 7, 3, 7, 2, 9, 7, 4, 4, 9, 5)

32. Swap the first and last elements of a tuple.

In [85]:
tup1 = tuple(i for i in range(1,6))
print(tup1)
swapped_tuple = (tup1[-1],)+ tup1[1:-1] + (tup1[0],)
print(swapped_tuple)

(1, 2, 3, 4, 5)
(5, 2, 3, 4, 1)

33. Merge two sorted tuples into one sorted tuple.

In [86]:
print(sorted(swapped_tuple)) 
unorderd_tup = tuple(randint(10,100) for i in range(7))
print(sorted(unorderd_tup))

sorted(swapped_tuple+unorderd_tup)

[1, 2, 3, 4, 5]
[17, 31, 41, 43, 52, 60, 65]

[1, 2, 3, 4, 5, 17, 31, 41, 43, 52, 60, 65]

34. Find the second largest element in a tuple.

In [87]:
sorted(unorderd_tup)[-2]

60

35. Find the second smallest element in a tuple.

In [88]:
sorted(unorderd_tup)[1]

31

36. Find the sum of all elements in a tuple.

In [89]:
sum(unorderd_tup)

309

37. Multiply all elements in a tuple.

In [90]:
result = 1
for element in unorderd_tup:
    result *= element
    
result

188421682800

38. Check if a tuple is empty.

In [91]:
len(tup1) == 0

False

39. Check if a tuple is a subset of another tuple.

In [92]:
tup3 = (1,2)
tup1 = (1,2,3,4,5)
set(tup3).issubset(tup1)

True

40. Check if a tuple is a superset of another tuple.

In [93]:
set(tup1).issuperset(tup3)

True

41. Find the common elements between two tuples.

In [94]:
set(tup1).intersection(tup3)

{1, 2}

42. Find the uncommon elements between two tuples.

In [95]:
set(tup1).symmetric_difference(tup2)

{1, 3, 5, 6}

43. Check if two tuples have any common elements.

In [96]:
bool(set(tup1).intersection(tup2))

True

44. Find the difference between two tuples.

In [97]:
set(tup1) - set(tup2)

{1, 3, 5}

45. Find the intersection of two tuples.

In [98]:
set(tup2).intersection(tup3)

{2}

46. Check if two tuples are disjoint.

In [99]:
set(tup2).isdisjoint(tup3)

False

47. Concatenate a tuple of tuples into a single tuple.

In [100]:
tuple_of_tups = (tup1,tup2,tup3,tup4)
print(tuple_of_tups)
singletuple  = tup1+ tup2+ tup3 + tup4
print(singletuple)

((1, 2, 3, 4, 5), (2, 4, 6), (1, 2), ('a', 'b', 'c', 'd'))
(1, 2, 3, 4, 5, 2, 4, 6, 1, 2, 'a', 'b', 'c', 'd')

48. Convert a tuple of tuples to a list of lists.

In [101]:
tuple_of_tups = (tup1,tup2,tup3,tup4)
print(tuple_of_tups)
list_of_lists = [list(inner_tuples) for inner_tuples in tuple_of_tups]
print(list_of_lists)

((1, 2, 3, 4, 5), (2, 4, 6), (1, 2), ('a', 'b', 'c', 'd'))
[[1, 2, 3, 4, 5], [2, 4, 6], [1, 2], ['a', 'b', 'c', 'd']]

49. Find the union of two tuples. Check if two tuples are identical.

In [102]:
set(tup1).union(tup2)

{1, 2, 3, 4, 5, 6}

1. What is a set in Python? What is its purpose?

In [103]:
# A set is a mutable ,unordered collectin of elements. 
# The primary purpose of a set id to provide a datastructure to store distinctly and perform set operations like union, intersection, difference and more

2. What is the difference between a set and a list in Python?

In [104]:
# set
# Set is a collection of unoredered elements
# only distinct elements can be stored.

# list 
# The emlents in a list can be ordered.
# duplicate elements can be stored as a seperate element

3. Can a set contain duplicate values?

In [105]:
# No, A set cannot contain duplicate values, It stores only unique elements.

4. How do you create a set in Python?

In [106]:
setA = {1,2,2,3,4,5,6,7,7,7}
setA

{1, 2, 3, 4, 5, 6, 7}

5. How do you add an element to a set in Python?

In [107]:
setA.add('a')
setA

{1, 2, 3, 4, 5, 6, 7, 'a'}

6. How do you remove an element from a set in Python?

In [108]:
setA.remove('a')
setA

{1, 2, 3, 4, 5, 6, 7}

7. What happens when you try to remove an element from a set that doesn't exist?

In [109]:
# setA.remove('a')
# KeyError is result when we try to remove an element which doesnot exist in set

8. How do you check if an element is in a set in Python?

In [110]:
print('a' in setA)
print(1 in setA)

False
True

9. How do you iterate over the elements in a set in Python?

In [111]:
for i in setA:
    print(i)

1
2
3
4
5
6
7

10. How do you find the length of a set in Python?

In [112]:
len(setA)

7

11. What is the union of two sets in Python?

In [113]:
setB = {5,6,7,8,9,0}

# union returns the all the elements in both the sets
setA.union(setB)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

12. How do you find the union of multiple sets in Python?

In [114]:
setA.union(setB)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

13. What is the intersection of two sets in Python?

In [115]:
setA.intersection(setB)
# intersection gives the common elements in both the sets

{5, 6, 7}

14. How do you find the intersection of multiple sets in Python?

In [116]:
setA.intersection(setB)

{5, 6, 7}

15. What is the difference between two sets in Python?

In [117]:
# it gives the uncommon emelents from the firt set
setC = setA - setB

16. How do you find the difference between multiple sets in Python?

In [118]:
setA - setB

{1, 2, 3, 4}

17. What is the symmetric difference of two sets in Python?

In [119]:
# Symmetric difference gives the uncommon elements from both the sets

18. How do you find the symmetric difference of multiple sets in Python?

In [120]:
setA.symmetric_difference(setB)

{0, 1, 2, 3, 4, 8, 9}

19. What is a subset in Python?

In [121]:
setC.issubset(setA)
# here we are chec=king if all the elements in setC are in setA

True

20. How do you check if one set is a subset of another in Python?

In [122]:
setC.issubset(setA)

True

21. What is a superset in Python?

22. How do you check if one set is a superset of another in Python?

In [123]:
setA.issuperset(setC)

True

23. How do you update a set in Python with another set?

In [124]:
setD = set()
setD.update(setA)
setD

{1, 2, 3, 4, 5, 6, 7}

24. How do you clear a set in Python?

In [125]:
setD.clear()
setD

set()

25. How do you copy a set in Python?

In [126]:
setD = setA.copy()
setD

{1, 2, 3, 4, 5, 6, 7}

26. How do you remove all duplicates from a list in Python using a set?

In [127]:
set3 = set(list3)
set3

{2}

27. How do you remove all duplicates from a list in Python while preserving the order?

In [128]:
str1 = 'How do you remove all duplicates from a list in Python while preserving the order?'
# len(set(str1)) --> 24
uniquelist = []
seen = set()

test_list = list(str1)

for element in test_list:
    if element not in seen:
        seen.update(element)
        uniquelist.append(element)
        
print(uniquelist)

['H', 'o', 'w', ' ', 'd', 'y', 'u', 'r', 'e', 'm', 'v', 'a', 'l', 'p', 'i', 'c', 't', 's', 'f', 'n', 'P', 'h', 'g', '?']

28. How do you convert a list to a set in Python?

In [129]:
list3
set(list3)

{2}

29. How do you convert a set to a list in Python?

In [130]:
list(setA)

[1, 2, 3, 4, 5, 6, 7]

30. How do you find the maximum and minimum values in a set in Python?

In [131]:
max(setA) ;min(setB)

0

31. How do you find the sum of all elements in a set in Python?

In [132]:
sum(setA)

28

32. How do you find the average of all elements in a set in Python?

In [133]:
import statistics

# print(dir(statistics))

print(f'Mean of the set\t\t:\t{statistics.mean(setA)}')

Mean of the set		:	4

33. How do you find the median of all elements in a set in Python?

In [134]:
print(f'Median of the set\t:\t{statistics.median(setA)}')

Median of the set	:	4

34. How do you find the mode of all elements in a set in Python?

In [135]:
print(f'Mode of the set\t\t:\t{statistics.mode(setA)}')

Mode of the set		:	1

35. How do you find the variance of all elements in a set in Python?

In [136]:
print(f'Variance of the set\t\t:\t{statistics.variance(setA)}')

Variance of the set		:	4.666666666666667

36. How do you find the standard deviation of all elements in a set in Python?

In [137]:
print(f'Standard Deviation of the set\t\t:\t{statistics.stdev(setA)}')

Standard Deviation of the set		:	2.160246899469287

37. How do you find the frequency of each element in a set in Python?

In [138]:
from collections import Counter
print(Counter(list_of_strings))
list_of_strings

Counter({'1': 2, '2': 2, '3': 2, '4': 1, '6': 1, '5': 1, '7': 1, '9': 1, 'a': 1, 'b': 1, 'c': 1, 'd': 1})

['1', '2', '3', '2', '4', '6', '1', '3', '5', '7', '9', 'a', 'b', 'c', 'd']

38. How do you remove all elements from a set except for a specific set of elements in Python?

In [139]:
print(setA)
elm_to_keep = {3,4,5}
setA.intersection_update(elm_to_keep)
setA

{1, 2, 3, 4, 5, 6, 7}

{3, 4, 5}

39. How do you check if two sets are equal in Python?

In [140]:
setA ==setB

False

40. How do you check if two sets are not equal in Python?

In [141]:
setA!=setB

True

41. How do you find the common elements between two sets in Python?

In [142]:
setA.intersection(setB)

{5}

42. How do you find the unique elements between two sets in Python?

In [143]:
setA.symmetric_difference(setB)

{0, 3, 4, 6, 7, 8, 9}

43. How do you find the difference between the common and unique elements between two sets in Python?

In [144]:
print('Common Elements in both set A and set B')
# trying to find the common elements in setA an setB
common_elements = setA.intersection(setB)
print(common_elements)

#  trying to find the unique elements in setA
print('unique elements in setA')
print(setA -setB)

#  trying to find the unique elements in setB
print('unique elements in set B')
print(setB - setA)

# tyring to find all the unique elements
print('Unique elements in both sets')
print(setA.symmetric_difference(setB))

Common Elements in both set A and set B
{5}
unique elements in setA
{3, 4}
unique elements in set B
{0, 6, 7, 8, 9}
Unique elements in both sets
{0, 3, 4, 6, 7, 8, 9}

44. How do you find the elements that exist in one set but not in another in Python?

In [145]:
# finding the elements from seta and removing the common elements
print(setA)
print(setB)
setA-setB

{3, 4, 5}
{0, 5, 6, 7, 8, 9}

{3, 4}

45. How do you find the elements that exist in one or more sets in Python?

In [146]:
# common elemets (Intersection)
setA.intersection(setB)

{5}

46. How do you find the elements that exist in all sets in Python?

In [147]:
# all elements in one set
setA.union(setB)

{0, 3, 4, 5, 6, 7, 8, 9}

47. How do you check if a set is empty in Python?

In [148]:
len(setA) == 0

False

48. How do you find the largest n elements in a set in Python?

In [149]:
# creating a sample test set
setA = set(i for i in range(25))
print(setA)

# creating the main function
def largest_n(n,set_):
    """
    returns the largest n values from the supplied set_
    """
    list1 = sorted(list(set_),reverse=True)
    return list1[0:n]

largest_n(5,setA)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

[24, 23, 22, 21, 20]


49. How do you find the smallest n elements in a set in Python?

In [150]:
def smallest_n(n, set_):
    """
    returns the smallest n values from the supplied set_
    """
    list1 = sorted(list(set_))
    return list1[0:n]

smallest_n(5,setA)

[0, 1, 2, 3, 4]

   50. How do you find the nth largest or nth smallest element in a set in Python?

In [151]:
def nth_smallest(n,set_):
    return list(set_)[n-1]

print(f'Fifth smallest in the set \t:{nth_smallest(5,setA)}')


def nth_largest(n,set_):
    listA = sorted(list(set_),reverse=True)
    return listA[n-1]

print(f'Fifth largest in the set \t:{nth_largest(5,setA)}')

Fifth smallest in the set 	:4
Fifth largest in the set 	:20

1. What is a dictionary in Python?

In [152]:
#  A dictionary is a collection of key-value pairs in python
# The Keys in a dictionary are unique, each key holds A specic value
# they are unordered usually after the python 3.7 it is assumed to record in the order of the time of insertion
# the size of dictionary varies as the key-value pairs are added and removed to the dictionary
# Dictionaries are mutable : means we can add, remmove or update a specific key-values in the dictionary

2. How do you create an empty dictionary in Python?

In [153]:
dict_1 = dict()

3. How do you add a key-value pair to a dictionary in Python?

In [154]:
dict_1 = {
    "age" : 26,
    "gender" : 'Male',
    'Occupation' : 'Data Analyst',
    'Education' : 'B.Tech' 
}
dict_1['Name'] = "Sridhar" 

dict_1

{'age': 26,
 'gender': 'Male',
 'Occupation': 'Data Analyst',
 'Education': 'B.Tech',
 'Name': 'Sridhar'}

4. How do you access a value in a dictionary using its key in Python?

In [155]:
dict_1['Name']

'Sridhar'

5. How do you check if a key exists in a dictionary in Python?

In [156]:
print('Sridhar' in dict_1.values())
print('Name' in dict_1.keys())

True
True

6. How do you remove a key-value pair from a dictionary in Python?

In [157]:
dict_1.pop('Name')

'Sridhar'

In [158]:
dict_1

{'age': 26,
 'gender': 'Male',
 'Occupation': 'Data Analyst',
 'Education': 'B.Tech'}

7. How do you iterate over a dictionary in Python?

In [159]:
for key,value in dict_1.items():
    print(key,value)

age 26
gender Male
Occupation Data Analyst
Education B.Tech

In [160]:
for key in dict_1:
    print(key ,':',dict_1[key])

age : 26
gender : Male
Occupation : Data Analyst
Education : B.Tech

8. How do you get the number of items in a dictionary in Python?

In [161]:
len(dict_1)

4

9. How do you copy a dictionary in Python?

In [162]:
dict_2 = dict_1.copy()
dict_2

{'age': 26,
 'gender': 'Male',
 'Occupation': 'Data Analyst',
 'Education': 'B.Tech'}

10. How do you merge two dictionaries in Python?

In [163]:
dict_2 = {
    'age' : '24',
    'gender': 'Female',
    'Occupation': 'System Engineer',
    'Education': 'B.Tech'
}

merged_dict = {**dict_1,**dict_2}
merged_dict

{'age': '24',
 'gender': 'Female',
 'Occupation': 'System Engineer',
 'Education': 'B.Tech'}


11. How do you get a list of keys in a dictionary in Python?

In [164]:
list(dict_1.keys())

['age', 'gender', 'Occupation', 'Education']

12. How do you get a list of values in a dictionary in Python?

In [165]:
list(dict_1.values())

[26, 'Male', 'Data Analyst', 'B.Tech']

13. How do you get a list of key-value pairs in a dictionary in Python?

In [166]:
list(dict_1.items())

[('age', 26),
 ('gender', 'Male'),
 ('Occupation', 'Data Analyst'),
 ('Education', 'B.Tech')]

14. How do you sort a dictionary by its keys in Python?

In [167]:
dict(sorted(dict_1.items()))

{'Education': 'B.Tech',
 'Occupation': 'Data Analyst',
 'age': 26,
 'gender': 'Male'}

15. How do you sort a dictionary by its values in Python?

In [168]:
dict(sorted(dict_1.items(),key = lambda item: str(item[1])))

{'age': 26,
 'Education': 'B.Tech',
 'Occupation': 'Data Analyst',
 'gender': 'Male'}

In [169]:
# sorted(dict_1.items(),key = lambda item :

16. How do you create a dictionary from a list of keys and a list of values in Python?

In [170]:
key_list = ['name','age','gender','location','skill']
value_list = ['Sridhar','Male','India','Python']

dict_1 = dict(zip(key_list,value_list))
print(dict_1)

{'name': 'Sridhar', 'age': 'Male', 'gender': 'India', 'location': 'Python'}

17. How do you create a dictionary from two lists in Python?

In [171]:
key_list = ['Name','age','location']
value_list = ['Vamsi',22,'Visakhapatnam']
dict_1 = dict(zip(key_list,value_list))
dict_1

{'Name': 'Vamsi', 'age': 22, 'location': 'Visakhapatnam'}

18. How do you create a dictionary from a list of tuples in Python?

In [172]:
list_of_tuples = [('Name','Sridhar'),
                 ('Age',22),
                 ('Gender','Male')]
dict_2 = dict(list_of_tuples)
dict_2

{'Name': 'Sridhar', 'Age': 22, 'Gender': 'Male'}

19. How do you create a dictionary from a tuple of keys and a tuple of values in Python?

In [173]:
key_tuple = ('Name','age','gender','Location')
value_tuple = ('Sridhar Kadhiri',26,'M','India')

dict_3 = dict(zip(key_tuple,value_tuple))
dict_3

{'Name': 'Sridhar Kadhiri', 'age': 26, 'gender': 'M', 'Location': 'India'}

20. How do you get the maximum key in a dictionary in Python?

In [174]:
max(list(dict_1.keys()))

'location'

21. How do you get the maximum value in a dictionary in Python?

In [175]:
list_1 = [1,2,3,4,5,6,7,8,9]
list_2 = [1,4,9,16,25,36,49,64,81]

dict_4 = dict(zip(list_1,list_2))
dict_4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

22. How do you get the minimum key in a dictionary in Python?

In [176]:
max(dict_4)

9

23. How do you get the minimum value in a dictionary in Python?

In [177]:
min(dict_4)

1

24. How do you check if a value exists in a dictionary in Python?

In [178]:
4 in dict_4.values()

True

25. How do you get a default value for a non-existing key in a dictionary in Python?

In [179]:
# Example dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Get the value for a key with a default value
default_value = my_dict.get('age')

# Display the result
print(default_value)

30

26. How do you clear all items in a dictionary in Python?

In [180]:
dict_1.clear()

27. How do you update a dictionary with another dictionary in Python?

In [181]:
dict_1.update(my_dict)
print(dict_1)

{'name': 'John', 'age': 30, 'city': 'New York'}

28. How do you create a dictionary with default values in Python?

29. How do you create a nested dictionary in Python?

In [182]:
holidays  = {
    'Jan': {
        26 : 'Republic Day',
        27 : 'Republic Day',
        28 : 'Republic Day'
    },
    'Mar' : {
        23 : 'Saturday',
        24 : 'Sunday',
        25 : 'Holi',
        26 : 'Leave',
        27 : 'Leave',
        28 : 'Leave',
        29 : 'Good Friday',
        30 : 'Saturday',
        31 : 'Sunday'
    },
    'Apr' : {
        6 : 'Saturday',
        7 : 'Sunday',
        8 : 'Leave',
        9 : 'Ugadi',
        10 : 'Leave',
        11 : 'Ramzan',
        12 : 'Leave',
        13: 'Saturday',
        14 : 'Sunday'
    },
    'May' : {
        23 : 'Buddha Poornima',
        24 : 'Leave',
        25 : 'Saturday',
        26 : 'Sunday'
    },
    'Jun' : {
        15 : 'Saturday',
        16 : 'Sunday',
        17 : 'Bakrid'
    },
    'Aug' : {
        15 : 'Independence Day',
        16 : 'Leave',
        17 : 'Saturday',
        18: 'Sunday',
        24 : 'Saturday',
        25 : 'Sunday',
        28 : 'Janmastami'
    },
    'Sep' : {
        14 : 'Saturday',
        15 : 'Sunday',
        16 : 'Festival'
    },
    'Oct' : {
        2: 'Gandhi Jayanthi',
        3: 'Leave',
        4: 'Leave',
        5: 'Saturday',
        6: 'Sunday'
    },
    'Nov' : {
        1: 'Diwali',
        2: 'Saturay',
        3: 'Sunday',
        4: 'Leave',
        15: 'Gurunanak Jayanthi',
        16: 'Saturday',
        17: 'Sunday'
    },
    'Dec': {
        21: 'Saturday',
        22: 'Sunday',
        23: 'Leave',
        24: 'Cristmas Eve',
        25: 'Christmas',
        26: 'Leave',
        27: 'Leave',
        28: 'Saturday',
        29: 'Sunday'
    }
}

holidays['Dec'][24]

'Cristmas Eve'

In [183]:
# I want the months and number of holidays in each month
# write a function to give all the holidays in that month
#

30. How do you access a value in a nested dictionary in Python?

In [184]:
holidays['Dec'][24]

'Cristmas Eve'

31. How do you add a new key-value pair to a nested dictionary in Python?

In [185]:
#  I want to add my birthday in oct as a holiday
holidays['Oct'][14] = 'My Birthday'
holidays['Oct']

{2: 'Gandhi Jayanthi',
 3: 'Leave',
 4: 'Leave',
 5: 'Saturday',
 6: 'Sunday',
 14: 'My Birthday'}

32. How do you remove a key-value pair from a nested dictionary in Python?

In [186]:
#  I want to add my birthday in oct as a holiday
print('I want to add my birthday in oct as a holiday')
holidays['Oct'][14] = 'My Birthday'
print(holidays['Oct'])

#  I want to remove my Birthday using the pop method
print('\nI want to remove my Birthday using the pop method')
holidays['Oct'].pop(14)
print(holidays['Oct'])

# adding the new key-value pair
print('\nadding the new key-value pair')
holidays['Oct'][14] = 'My Birthday'
print(holidays['Oct'])


# Using the del command
print('\nUsing the del command')
del holidays['Oct'][14]
print(holidays['Oct'])

I want to add my birthday in oct as a holiday
{2: 'Gandhi Jayanthi', 3: 'Leave', 4: 'Leave', 5: 'Saturday', 6: 'Sunday', 14: 'My Birthday'}

I want to remove my Birthday using the pop method
{2: 'Gandhi Jayanthi', 3: 'Leave', 4: 'Leave', 5: 'Saturday', 6: 'Sunday'}

adding the new key-value pair
{2: 'Gandhi Jayanthi', 3: 'Leave', 4: 'Leave', 5: 'Saturday', 6: 'Sunday', 14: 'My Birthday'}

Using the del command
{2: 'Gandhi Jayanthi', 3: 'Leave', 4: 'Leave', 5: 'Saturday', 6: 'Sunday'}

33. How do you iterate over a nested dictionary in Python?

In [187]:
for outer_key, inner_dict in holidays.items():
    print(f'{outer_key}')
    for inner_key, values in inner_dict.items():
        print(inner_key, values)

Jan
26 Republic Day
27 Republic Day
28 Republic Day
Mar
23 Saturday
24 Sunday
25 Holi
26 Leave
27 Leave
28 Leave
29 Good Friday
30 Saturday
31 Sunday
Apr
6 Saturday
7 Sunday
8 Leave
9 Ugadi
10 Leave
11 Ramzan
12 Leave
13 Saturday
14 Sunday
May
23 Buddha Poornima
24 Leave
25 Saturday
26 Sunday
Jun
15 Saturday
16 Sunday
17 Bakrid
Aug
15 Independence Day
16 Leave
17 Saturday
18 Sunday
24 Saturday
25 Sunday
28 Janmastami
Sep
14 Saturday
15 Sunday
16 Festival
Oct
2 Gandhi Jayanthi
3 Leave
4 Leave
5 Saturday
6 Sunday
Nov
1 Diwali
2 Saturay
3 Sunday
4 Leave
15 Gurunanak Jayanthi
16 Saturday
17 Sunday
Dec
21 Saturday
22 Sunday
23 Leave
24 Cristmas Eve
25 Christmas
26 Leave
27 Leave
28 Saturday
29 Sunday

34. How do you sort a nested dictionary by its keys in Python?

In [188]:
# sorting the nested dictionary based on the keys of outer dictionary 
sorted_outer_dict = dict(sorted(holidays.items()))

for key, inner_dict in holidays.items():
    sorted_outer_dict[key] = dict(sorted(inner_dict.items()))

print(sorted_outer_dict)

{'Apr': {6: 'Saturday', 7: 'Sunday', 8: 'Leave', 9: 'Ugadi', 10: 'Leave', 11: 'Ramzan', 12: 'Leave', 13: 'Saturday', 14: 'Sunday'}, 'Aug': {15: 'Independence Day', 16: 'Leave', 17: 'Saturday', 18: 'Sunday', 24: 'Saturday', 25: 'Sunday', 28: 'Janmastami'}, 'Dec': {21: 'Saturday', 22: 'Sunday', 23: 'Leave', 24: 'Cristmas Eve', 25: 'Christmas', 26: 'Leave', 27: 'Leave', 28: 'Saturday', 29: 'Sunday'}, 'Jan': {26: 'Republic Day', 27: 'Republic Day', 28: 'Republic Day'}, 'Jun': {15: 'Saturday', 16: 'Sunday', 17: 'Bakrid'}, 'Mar': {23: 'Saturday', 24: 'Sunday', 25: 'Holi', 26: 'Leave', 27: 'Leave', 28: 'Leave', 29: 'Good Friday', 30: 'Saturday', 31: 'Sunday'}, 'May': {23: 'Buddha Poornima', 24: 'Leave', 25: 'Saturday', 26: 'Sunday'}, 'Nov': {1: 'Diwali', 2: 'Saturay', 3: 'Sunday', 4: 'Leave', 15: 'Gurunanak Jayanthi', 16: 'Saturday', 17: 'Sunday'}, 'Oct': {2: 'Gandhi Jayanthi', 3: 'Leave', 4: 'Leave', 5: 'Saturday', 6: 'Sunday'}, 'Sep': {14: 'Saturday', 15: 'Sunday', 16: 'Festival'}}

35. How do you sort a nested dictionary by its values in Python?

In [189]:
sorted_outer_dict = dict(sorted(holidays.items()))

for key, inner_dict in holidays.items():
    sorted_outer_dict[key] = dict(sorted(inner_dict.items() ,key = lambda item: str(item[1]) ))

sorted_outer_dict

{'Apr': {8: 'Leave',
  10: 'Leave',
  12: 'Leave',
  11: 'Ramzan',
  6: 'Saturday',
  13: 'Saturday',
  7: 'Sunday',
  14: 'Sunday',
  9: 'Ugadi'},
 'Aug': {15: 'Independence Day',
  28: 'Janmastami',
  16: 'Leave',
  17: 'Saturday',
  24: 'Saturday',
  18: 'Sunday',
  25: 'Sunday'},
 'Dec': {25: 'Christmas',
  24: 'Cristmas Eve',
  23: 'Leave',
  26: 'Leave',
  27: 'Leave',
  21: 'Saturday',
  28: 'Saturday',
  22: 'Sunday',
  29: 'Sunday'},
 'Jan': {26: 'Republic Day', 27: 'Republic Day', 28: 'Republic Day'},
 'Jun': {17: 'Bakrid', 15: 'Saturday', 16: 'Sunday'},
 'Mar': {29: 'Good Friday',
  25: 'Holi',
  26: 'Leave',
  27: 'Leave',
  28: 'Leave',
  23: 'Saturday',
  30: 'Saturday',
  24: 'Sunday',
  31: 'Sunday'},
 'May': {23: 'Buddha Poornima', 24: 'Leave', 25: 'Saturday', 26: 'Sunday'},
 'Nov': {1: 'Diwali',
  15: 'Gurunanak Jayanthi',
  4: 'Leave',
  2: 'Saturay',
  16: 'Saturday',
  3: 'Sunday',
  17: 'Sunday'},
 'Oct': {2: 'Gandhi Jayanthi',
  3: 'Leave',
  4: 'Leave',
  5: 'Saturday',
  6: 'Sunday'},
 'Sep': {16: 'Festival', 14: 'Saturday', 15: 'Sunday'}}

36. How do you convert a dictionary to a list of tuples in Python?

In [190]:
list(dict_1.items())

[('name', 'John'), ('age', 30), ('city', 'New York')]

37. How do you convert a dictionary to a list of keys in Python?

In [191]:
list(dict_1.keys())

['name', 'age', 'city']

38. How do you convert a dictionary to a list of values in Python?

In [192]:
list(dict_1.values())

['John', 30, 'New York']

39. How do you convert a list of tuples to a dictionary in Python?

In [193]:
my_list  = [('Name', 'Sridhar'),('Age', '26'),('Father', 'Veera Raju')]

dict(my_list)

{'Name': 'Sridhar', 'Age': '26', 'Father': 'Veera Raju'}

   40. How do you convert two lists to a dictionary in Python?

In [194]:
listb = [4,5,6]
lista = ['a', 'b', 'c']

my_dict  = dict(zip(lista,listb))
my_dict

{'a': 4, 'b': 5, 'c': 6}

# Functions

1. Write a function that takes a number as input and returns its square.

In [195]:
def sqrt(x):
    return x**2

sqrt(5)

25

2. Write a function that takes two numbers as input and returns their sum.

In [196]:
def add(x,y):
    return x+y

add(55 ,22)

77

3. Write a function that takes a list of numbers as input and returns their average.

In [197]:
def avg(my_list):
    add = 0
    for i in my_list:
        add+=i
    return add

list_1 = [i for i in range(55)]
print(list_1)

avg(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]

1485

4. Write a function that takes a string as input and returns its length.

In [198]:
def length(mystr):
    count = 0
    for char in mystr:
        count +=1
    return count
str_1 = 'My Name is Sridhar'
length(str_1)

18

5. Write a function that takes two strings as input and returns the concatenation of the two strings.

In [199]:
def concatenate(str1,str2):
    return str(str1) + str(str2)

str_1 = 'Hello'
str_2 = ' World'

concatenate(str_1,str_2)

'Hello World'

6. Write a function that takes a list of strings as input and returns the concatenation of all the strings in the list.

In [200]:
str_l = ['Jan','Feb','Mar','April','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

def concat(str_list):
    result = ''
    for element in str_list:
        result += element
        result += ' '

    return result

concat(str_l)

'Jan Feb Mar April May Jun Jul Aug Sep Oct Nov Dec '

7. Write a function that takes a list of numbers as input and returns the sum of all the even numbers in the list.

In [201]:
def evens_sum(my_list):
    add = 0
    for i in my_list:
        if i%2 == 0:
            add+=i
    return add

my_list = list(i for i in range(50))

evens_sum(my_list)

600

8. Write a function that takes a list of strings as input and returns the number of strings in the list that are longer than 5 characters.

In [202]:
my_l = ['This','is','a','sample','string','we','get','what','we','are','deserved','for']


def more_than_5(my_list):
    count = 0
    for word in my_list:
        if len(word) >5:
            count+=1
    return count

more_than_5(my_l)

3

9. Write a function that takes a list of numbers as input and returns the sum of all the numbers that are divisible by 3 or 5.

In [203]:
my_l = [i for i in range(10)]

def sum_of_all_divisible_by_3_or_5(my_list):
    add = 0
    for num in my_list:
        if (num%3 == 0) or ( num%5 == 0):
            add += num
    return add

sum_of_all_divisible_by_3_or_5(my_l)

23

10. Write a function that takes a list of integers as input and returns the product of all the integers in the list.

In [204]:
# my_l = [i for i in range(1,10)]
my_l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def productofnum(my_list):
    product = 1
    for num in my_list:
        product = product*num
    return product


productofnum(my_l)

362880

11. Write a function that takes a list of strings as input and returns the first string in the list that contains the letter 'a'.

In [205]:
list_1 = ['This','is','a','sample','string','we','get','what','we','are','deserved','for']

def get_word_containing(tag, my_list):
    result = []
    for word in my_list:
        if tag in word:
            result.append(word)
    return result[0]

get_word_containing('d',list_1)

'deserved'

12. Write a function that takes a list of numbers as input and returns the second largest number in the list.

In [206]:
from random import randint
list_of_numbers = [randint(1,400) for i in range(100)]


def second_largest(my_list):
    return sorted(my_list,reverse=True)[1]

second_largest(list_of_numbers)

385

13. Write a function that takes a string as input and returns True if the string is a palindrome, False otherwise.

In [207]:
my_string_1  = 'madam'
my_string_2 = 'Hello'

def check_palindrome(inp_str):
    return inp_str == inp_str[::-1]

print(f'check_palindrome(my_string_1) -->  {check_palindrome(my_string_1)}')

print(f'check_palindrome(my_string_2) -->  {check_palindrome(my_string_2)}')

check_palindrome(my_string_1) -->  True
check_palindrome(my_string_2) -->  False

14. Write a function that takes a list of strings as input and returns a new list containing only the strings that start with the letter 'a'.

In [208]:
#  I am trying to create a new long string using a para

my_para = """In the heart of the bustling city, where the sounds of traffic and hurried footsteps create a rhythmic urban symphony, there lies a quaint little bookstore. Its shelves, adorned with books of all shapes and sizes, tell stories of forgotten worlds and unexplored galaxies. As the evening sun sets, casting a warm glow on the city's skyscrapers, the bookstore becomes a refuge for those seeking solace in the pages of a good book. The scent of aged paper and the soft rustle of turning pages create a comforting atmosphere, inviting both avid readers and curious wanderers to embark on literary journeys that transcend time and space"""
#  I have created a new list containing the words 
my_list_of_words = my_para.split()


# function which filters the words from the list and returns the filtered list
def filter_words(tag,my_list) :
    result = []
    for word in my_list:
        if word[0] == tag:
            result.append(word)
    return result

# Using the function 
result_list = filter_words('e',my_list_of_words)
result_list

['evening', 'embark']

15. Write a function that takes a list of numbers as input and returns the sum of the first and last numbers in the list.

In [209]:
def get_sum_of_first_and_last(my_list):
    add = my_list[0] + my_list[-1]
    return add

my_list_1 = [1,2,3,4,5,6]

get_sum_of_first_and_last(my_list_1)

7

16. Write a function that takes a list of integers as input and returns a new list containing only the even numbers in the input list.

In [210]:
def filter_evens(my_list):
    evens = []
    for num in my_list:
        if num%2 == 0:
            evens.append(num)
    return evens

filter_evens(my_list_1)

[2, 4, 6]

17. Write a function that takes a list of strings as input and returns a new list containing the reverse of each string in the input list.

In [211]:
def reverse_strings_in_list(my_list):
    new_list = []
    for word in my_list:
        new_word = word[::-1]
        new_list.append(new_word)
    return new_list

reverse_strings_in_list(my_list_of_words)

['nI',
 'eht',
 'traeh',
 'fo',
 'eht',
 'gniltsub',
 ',ytic',
 'erehw',
 'eht',
 'sdnuos',
 'fo',
 'ciffart',
 'dna',
 'deirruh',
 'spetstoof',
 'etaerc',
 'a',
 'cimhtyhr',
 'nabru',
 ',ynohpmys',
 'ereht',
 'seil',
 'a',
 'tniauq',
 'elttil',
 '.erotskoob',
 'stI',
 ',sevlehs',
 'denroda',
 'htiw',
 'skoob',
 'fo',
 'lla',
 'sepahs',
 'dna',
 ',sezis',
 'llet',
 'seirots',
 'fo',
 'nettogrof',
 'sdlrow',
 'dna',
 'derolpxenu',
 '.seixalag',
 'sA',
 'eht',
 'gnineve',
 'nus',
 ',stes',
 'gnitsac',
 'a',
 'mraw',
 'wolg',
 'no',
 'eht',
 "s'ytic",
 ',sreparcsyks',
 'eht',
 'erotskoob',
 'semoceb',
 'a',
 'egufer',
 'rof',
 'esoht',
 'gnikees',
 'ecalos',
 'ni',
 'eht',
 'segap',
 'fo',
 'a',
 'doog',
 '.koob',
 'ehT',
 'tnecs',
 'fo',
 'dega',
 'repap',
 'dna',
 'eht',
 'tfos',
 'eltsur',
 'fo',
 'gninrut',
 'segap',
 'etaerc',
 'a',
 'gnitrofmoc',
 ',erehpsomta',
 'gnitivni',
 'htob',
 'diva',
 'sredaer',
 'dna',
 'suoiruc',
 'srerednaw',
 'ot',
 'krabme',
 'no',
 'yraretil',
 'syenruoj',
 'taht',
 'dnecsnart',
 'emit',
 'dna',
 'ecaps']

18. Write a function that takes a list of integers as input and returns a new list containing the square of each integer in the input list.

In [212]:
list_1 = [randint(1,500) for i in range(50)]

def sqaure(my_list):
    new_list = []
    for num in my_list:
        value = num**2
        new_list.append(value)
    return new_list

sqaure(list_1)

[11449,
 43264,
 29929,
 2601,
 47524,
 114244,
 19044,
 46656,
 14884,
 51076,
 120409,
 31329,
 147456,
 3025,
 195364,
 151321,
 101761,
 96100,
 729,
 22201,
 51984,
 2916,
 48400,
 20164,
 25,
 152881,
 441,
 175561,
 168921,
 38025,
 7225,
 22201,
 156025,
 17424,
 109561,
 11025,
 81225,
 4761,
 43264,
 230400,
 112896,
 23716,
 31329,
 29584,
 44100,
 16384,
 188356,
 15129,
 11449,
 72900]

19. Write a function that takes a list of strings as input and returns the number of strings in the list that start with a vowel.

In [213]:
def vowelsfirst(mylist):
    new_list = []
    vowels = ['a','e','i','o','u']
    for word in mylist:
        std_word = word.lower()
        if std_word[0] in vowels:
            new_list.append(word)
    return new_list

vowelsfirst(my_list_of_words)

['In',
 'of',
 'of',
 'and',
 'a',
 'urban',
 'a',
 'Its',
 'adorned',
 'of',
 'all',
 'and',
 'of',
 'and',
 'unexplored',
 'As',
 'evening',
 'a',
 'on',
 'a',
 'in',
 'of',
 'a',
 'of',
 'aged',
 'and',
 'of',
 'a',
 'atmosphere,',
 'inviting',
 'avid',
 'and',
 'embark',
 'on',
 'and']

20. Write a function that takes a list of numbers as input and returns the largest number in the list that is less than 100.

In [214]:
def largest_under_100(my_list):
    new_list = []
    for num in my_list:
        if num <=100:
            new_list.append(num)
    return max(new_list)

largest_under_100(list_1)

85

21. Write a function that takes a list of strings as input and returns a new list containing only the strings that are palindromes.

In [215]:
para = """In a serene racecar, Hannah sat quietly under a level moon, sipping her civic radar tea. Little did she know, the kayak she owned would be part of an unusual civic civic rotation. As she gazed at the refer red radar, she pondered the eclectic palindrome parade that unfolded before her eyes, creating a poetic symmetry in her otherwise normal day"""

def get_palindromes(para):
    """
    Finds palindromes from the given paragraph
    
    Parameters: 
    - paragraph (str) : The input paragraph
    
    Returns:
    - list: A list of palindromes words found in the paragraph
    """
    words_list = para.split(' ')
    
    palindromes = [word for word in words_list if word == word[::-1]]
    
    return palindromes

get_palindromes(para)

['a',
 'a',
 'level',
 'civic',
 'radar',
 'did',
 'kayak',
 'civic',
 'civic',
 'refer',
 'a']

22. Write a function that takes a list of integers as input and returns a new list containing the integers in sorted order.

In [216]:
list_1 = [randint(1,500) for i in range(15)]
print('The unsorted list')
print(list_1)

def sort_list(my_list, ascending = True):
    """
    Sorts the inout list in ascending order
    
    Parameters:
    my_list (List) : The input list 
    ascending (bool) : True returns Ascending order (default), and False returns the list in descending order
    
    Returns:
    the sorted list in ascending order
    """
    return sorted(my_list, reverse=  not ascending)

sort_list(list_1,ascending= False)

The unsorted list
[43, 30, 108, 425, 179, 149, 354, 255, 248, 394, 409, 28, 427, 104, 210]

[427, 425, 409, 394, 354, 255, 248, 210, 179, 149, 108, 104, 43, 30, 28]

23. Write a function that takes a string as input and returns a new string that is the reverse of the input string.

In [217]:
def reverse_string(my_string):
    """
    Returns the reverse of the input string 
    
    Parameters:
    my_string (str): The input string 
    
    Returns:
    the reversed string 
    
    example :
    >> reverse_string('Sridhar')
    
    ## 'rahdirS'
    """
    return my_string[::-1]

reverse_string('Sridhar')

'rahdirS'

24. Write a function that takes a list of strings as input and returns a new list containing the lengths of each string in the input list.

In [218]:
def str_list_len(my_list):
    """
    returns the list of string lengths from the list of strings passed as arguments
    
    Parameters :
    my_list [List] : This list contains the strings for which we want to find the lengths
    
    Returns:
    list of length of strings passed to it in the same order
    
    example:
    >>>
    str_list_len(['Hima',"Nami","Rin","Tsunade"])
    
    output:
    [4, 4, 3, 7]
    
    """
    strlengths = []
    
    for my_string in my_list:
        strlengths.append(len(my_string))
        
    return strlengths

print(str_list_len(my_list_of_words))

[2, 3, 5, 2, 3, 8, 5, 5, 3, 6, 2, 7, 3, 7, 9, 6, 1, 8, 5, 9, 5, 4, 1, 6, 6, 10, 3, 8, 7, 4, 5, 2, 3, 6, 3, 6, 4, 7, 2, 9, 6, 3, 10, 9, 2, 3, 7, 3, 5, 7, 1, 4, 4, 2, 3, 6, 12, 3, 9, 7, 1, 6, 3, 5, 7, 6, 2, 3, 5, 2, 1, 4, 5, 3, 5, 2, 4, 5, 3, 3, 4, 6, 2, 7, 5, 6, 1, 10, 11, 8, 4, 4, 7, 3, 7, 9, 2, 6, 2, 8, 8, 4, 9, 4, 3, 5]

25. Write a function that takes a list of numbers as input and returns a new list containing only the numbers that are perfect squares.

In [219]:
import math

def check_perfect_square(my_list):
    result = []
    for num in my_list:
        if math.isqrt(num)**2 == num:
            result.append(num)
    return result

my_list_1  = [i for i in range(1,100,3)]

check_perfect_square(my_list_1)

[1, 4, 16, 25, 49, 64]

26. Write a function that takes a list of strings as input and returns a new list containing only the strings that are longer than 10 characters.

In [220]:
def str_more_than_10_char(my_list):
    result = []
    for word in my_list:
        if len(word) > 10:
            result.append(word)
    return result

str_more_than_10_char(my_list_of_words)

['skyscrapers,', 'atmosphere,']

27. Write a function that takes a list of integers as input and returns a new list containing only the prime numbers in the input list.

In [221]:
list_1 = [randint(1,100) for i in range(0,100)]
# print(list_1)

def is_prime(number):
    """
    Used to check if a number is prime or not
    
    Parameters :
    number (integer) : The number which is required to check 
    
    Return:
    Bool: If the number is prime >> True and False if number passed is a non-prime
    
    """
    if number < 2:
        return False
    for i in range(2,int(math.sqrt(number))+1):
        if number % i == 0:
            return False
    return True

prime_numbers = list(filter(is_prime,list_1))
print(prime_numbers)

[67, 59, 11, 41, 31, 71, 97, 2, 79, 23, 5, 11, 19, 3, 19, 59, 79, 5, 59, 59, 97, 5, 97, 2, 29, 11, 79, 5, 47, 97, 17, 97, 83, 47, 53, 71, 71]

28. Write a function that takes a list of strings as input and returns a new list containing only the strings that contain the letter 'e'.

In [222]:
def find(string_to_find, my_string):
    return string_to_find in my_string

list_of_strings_with_e_in_it = list(filter(lambda word : find('e',word) , my_list_of_words))

print(list_of_strings_with_e_in_it)

# Best

['the', 'heart', 'the', 'where', 'the', 'hurried', 'footsteps', 'create', 'there', 'lies', 'little', 'bookstore.', 'shelves,', 'adorned', 'shapes', 'sizes,', 'tell', 'stories', 'forgotten', 'unexplored', 'galaxies.', 'the', 'evening', 'sets,', 'the', 'skyscrapers,', 'the', 'bookstore', 'becomes', 'refuge', 'those', 'seeking', 'solace', 'the', 'pages', 'The', 'scent', 'aged', 'paper', 'the', 'rustle', 'pages', 'create', 'atmosphere,', 'readers', 'wanderers', 'embark', 'literary', 'journeys', 'transcend', 'time', 'space']

29. Write a function that takes a list of numbers as input and returns the average of the numbers that are greater than 10.

In [223]:
def find_greater_than(treshold, my_num):
    return my_num > treshold

numbers_greater_than_10 = list(filter(lambda num : find_greater_than(10,num), prime_numbers ))
import statistics
print(numbers_greater_than_10)
statistics.mean(numbers_greater_than_10)

[67, 59, 11, 41, 31, 71, 97, 79, 23, 11, 19, 19, 59, 79, 59, 59, 97, 97, 29, 11, 79, 47, 97, 17, 97, 83, 47, 53, 71, 71]

56

30.   Write a function that takes a list of strings as input and returns a new list containing only the strings that contain only letters (no numbers or symbols).

In [224]:
def filter_strings_only_letters(input_list):
    return [word for word in input_list if word.isalpha()]

large_list = [
    "apple", "123banana", "grape", "!orange", "kiwi",
    "python", "java", "c++", "javascript", "@typescript",
    "programming", "12345", "!@#%", "code", "test", "123",
    "challenge", "openai", "gpt-3.5", "12345", "!@#%"
]

only_alpha_strings = filter_strings_only_letters(large_list)
only_alpha_strings

['apple',
 'grape',
 'kiwi',
 'python',
 'java',
 'javascript',
 'programming',
 'code',
 'test',
 'challenge',
 'openai']

31.   Write a function that takes a list of integers as input and returns a new list containing the difference between each pair of adjacent numbers in the input list.

In [225]:
def calculate_adj_differences(input_list):
    differences = []
    for i in range(len(input_list)-1):
        diff = input_list[i+1] - input_list[i]
        differences.append(diff)
    return differences

input_numbers = [5, 8, 12, 4, 10]

calculate_adj_differences(input_numbers)

[3, 4, -8, 6]

32.   Write a function that takes a list of strings as input and returns a new list containing only the strings that are all uppercase.

In [226]:
def filter_uppercase_strings(input_strings):
    return [word for word in input_strings if word == word.upper()]

input_strings = ["HELLO", "world", "PYTHON", "3.5", "UPPERCASE", "lowercase", "OPENAI", "gpt-3.5"]


result = filter_uppercase_strings(input_strings)
print(result)

['HELLO', 'PYTHON', '3.5', 'UPPERCASE', 'OPENAI']

In [227]:
large_list_of_strings = [
    "HELLO", "world", "PYTHON", "3.5", "UPPERCASE", "lowercase",
    "OPENAI", "gpt-3.5", "TEST", "CASE", "STRING", "FUNCTION",
    "LIST", "ELEMENTS", "FILTER", "UPPERCASE", "EXAMPLE", "PYTHONIC",
    "PROGRAMMING", "LANGUAGE", "DEVELOPMENT", "CODE", "GITHUB",
    "STACKOVERFLOW", "PYTHONISTA", "PYTHONIC", "CLOUD", "COMPUTING",
    "DATA"
]

result = filter_uppercase_strings(large_list_of_strings)
print(result)

['HELLO', 'PYTHON', '3.5', 'UPPERCASE', 'OPENAI', 'TEST', 'CASE', 'STRING', 'FUNCTION', 'LIST', 'ELEMENTS', 'FILTER', 'UPPERCASE', 'EXAMPLE', 'PYTHONIC', 'PROGRAMMING', 'LANGUAGE', 'DEVELOPMENT', 'CODE', 'GITHUB', 'STACKOVERFLOW', 'PYTHONISTA', 'PYTHONIC', 'CLOUD', 'COMPUTING', 'DATA']

33.   Write a function that takes a list of integers as input and returns the median value of the input list.

In [228]:
list_1 = [randint(1,100) for i in range(0,51)]
print(sorted(list_1))

def median(input_list):
    sorted_list = sorted(input_list)
    elements_in_input_list = len(input_list)
    if elements_in_input_list%2 == 0:
        num_1 = sorted_list[int(elements_in_input_list/2)-1]
        num_2 = sorted_list[int(elements_in_input_list/2)]
        return add(num_1,num_2)/2
    else:
        return sorted_list[(int(elements_in_input_list/2))]
    

print(median(list_1))


# Using the statistics library methods 
print(statistics.median(list_1)) # For cross checking

[1, 5, 6, 6, 8, 8, 14, 14, 16, 21, 24, 25, 31, 36, 36, 41, 48, 49, 49, 50, 50, 52, 52, 54, 55, 55, 68, 69, 71, 74, 74, 74, 75, 75, 77, 79, 80, 81, 81, 87, 88, 90, 90, 90, 92, 92, 93, 93, 96, 97, 98]
55
55

34.   Write a function that takes a string as input and returns the number of times the letter 'a' appears in the string.

In [229]:
def check_a (input_list):
    return [word for word in input_list if 'a' in word.lower()]


print(check_a(large_list_of_strings))

['UPPERCASE', 'lowercase', 'OPENAI', 'CASE', 'UPPERCASE', 'EXAMPLE', 'PROGRAMMING', 'LANGUAGE', 'STACKOVERFLOW', 'PYTHONISTA', 'DATA']

35.   Write a function that takes a list of strings as input and returns a new list containing only the strings that end with the letter 's'.

In [230]:
def ends_with_s(input_list):
    return [word for word in input_list if word[-1] == 's']

print(ends_with_s(my_list_of_words))

['sounds', 'footsteps', 'lies', 'Its', 'books', 'shapes', 'stories', 'worlds', 'As', "city's", 'becomes', 'pages', 'pages', 'readers', 'curious', 'wanderers', 'journeys']

36.   Write a function that takes a list of integers as input and returns the product of all the numbers that are greater than 5 and less than 10.

In [231]:
my_list = [randint(3,15) for i in range(50)]


def less_to_5_greater_to_10(input_list):
    return [num for num in input_list if num>5 and num <10]

between5and10 = less_to_5_greater_to_10(my_list)
print(between5and10)

from functools import reduce

reduce(lambda x,y: x*y, between5and10)

[6, 8, 7, 7, 8, 7, 7, 7, 6, 6, 9, 7, 6, 8, 6, 6, 7, 6, 7, 7]

52053937132732416

37.   Write a function that takes a list of strings as input and returns a new list containing only the strings that are all lowercase.

In [232]:
input_strings = ["hello", "World", "python", "UPPERCASE", "lowercase", "OpenAI", "gpt-3.5"]

def get_lower_case(input_list):
    return [word for word in input_list if word== word.lower()]

get_lower_case(input_strings)

['hello', 'python', 'lowercase', 'gpt-3.5']

38.   Write a function that takes a list of integers as input and returns the second smallest number in the list.

In [233]:
print(between5and10)

def second_smallest(my_list):
    sorted_list = sorted(list(set(between5and10))) # removing the duplicates and sorting
    return sorted_list[1]    # selecting the value in the index 1

second_smallest(between5and10)

[6, 8, 7, 7, 8, 7, 7, 7, 6, 6, 9, 7, 6, 8, 6, 6, 7, 6, 7, 7]

7

39.   Write a function that takes a list of strings as input and returns a new list containing the length of each string in the input list, sorted in increasing order.

In [234]:
def func_1 (input_list):
    return sorted([len(word) for word in input_list ])

func_1(input_strings)

[5, 5, 6, 6, 7, 9, 9]

40.   Write a function that takes a list of numbers as input and returns the difference between the largest and smallest numbers in the list.

In [235]:
def diff_in_extremes(input_list):
    return max(input_list)-min(input_list)

print(diff_in_extremes(my_list))

12

41.   Write a function that takes a string as input and returns True if the string contains only letters (no numbers or symbols), False otherwise.

In [236]:
def is_letters(input_string):
    return input_string.isalpha()

is_letters('Hima')

True

42.   Write a function that takes a list of integers as input and returns a new list containing only the numbers that are divisible by 7 and 9.

In [237]:
def divisible_7_9(input_list):
    return [num for num in input_list if (num%7 == 0) and (num%9 ==0)]

my_list = [randint(1,10000) for num in range(200)]

divisible_7_9(my_list)

[2268, 2205, 7245]

43.   Write a function that takes a list of strings as input and returns a new list containing only the strings that contain at least one digit (number).

In [238]:
input_strings = ["apple", "banana123", "kiwi", "grape", "orange9"]


def filter_strings_with_digits(input_list):
    return [word for word in input_list if any(char.isdigit() for char in word)]

filter_strings_with_digits(input_strings)

['banana123', 'orange9']

44.   Write a function that takes a list of integers as input and returns a new list containing the difference between each pair of adjacent even numbers in the input list.

In [239]:
my_intergers = [randint(1,100) for i in range(20)]
print(my_intergers)

def is_even(input_integer):
    return input_integer %2 ==0

def get_adj_integers(input_list):
    result = []
    for i in range(len(input_list)-1):
        num_1 = input_list[i]
        num_2 = input_list[i+1]
                
        if is_even(num_1):
            if is_even(num_2):
                diff = num_1-num_2
                result.append(diff)
                
    return result
        
get_adj_integers(my_intergers)

[20, 77, 87, 2, 80, 52, 57, 51, 57, 58, 68, 1, 73, 96, 47, 52, 61, 91, 85, 31]

[-78, 28, -10]

45.   Write a function that takes a string as input and returns a new string that is the same as the input string, but with all the vowels removed.

In [240]:
my_string = 'Sridhar'

def remove_vowels(input_string):
    vowels = 'aeiouAEIOU'
    return ''.join(char for char in input_string if char not in vowels)


remove_vowels(my_string)

'Srdhr'

46.   Write a function that takes a list of strings as input and returns a new list containing the first two letters of each string in the input list.

In [241]:

def first_two(input_strings):
    return [word[:2] for word in input_strings ]
    
print(first_two(my_list_of_words))

['In', 'th', 'he', 'of', 'th', 'bu', 'ci', 'wh', 'th', 'so', 'of', 'tr', 'an', 'hu', 'fo', 'cr', 'a', 'rh', 'ur', 'sy', 'th', 'li', 'a', 'qu', 'li', 'bo', 'It', 'sh', 'ad', 'wi', 'bo', 'of', 'al', 'sh', 'an', 'si', 'te', 'st', 'of', 'fo', 'wo', 'an', 'un', 'ga', 'As', 'th', 'ev', 'su', 'se', 'ca', 'a', 'wa', 'gl', 'on', 'th', 'ci', 'sk', 'th', 'bo', 'be', 'a', 're', 'fo', 'th', 'se', 'so', 'in', 'th', 'pa', 'of', 'a', 'go', 'bo', 'Th', 'sc', 'of', 'ag', 'pa', 'an', 'th', 'so', 'ru', 'of', 'tu', 'pa', 'cr', 'a', 'co', 'at', 'in', 'bo', 'av', 're', 'an', 'cu', 'wa', 'to', 'em', 'on', 'li', 'jo', 'th', 'tr', 'ti', 'an', 'sp']

47.   Write a function that takes a list of integers as input and returns a new list containing the numbers in the input list that appear more than once.

In [242]:
my_list_of_words = ['In', 'th', 'he', 'of', 'th', 'bu', 'ci', 'wh', 'th', 'so', 'of', 'tr', 'an', 'hu', 'fo', 'cr', 'a', 'rh', 'ur', 'sy', 'th', 'li', 'a', 'qu', 'li', 'bo', 'It', 'sh', 'ad', 'wi', 'bo', 'of', 'al', 'sh', 'an', 'si', 'te', 'st', 'of', 'fo', 'wo', 'an', 'un', 'ga', 'As', 'th', 'ev', 'su', 'se', 'ca', 'a', 'wa', 'gl', 'on', 'th', 'ci', 'sk', 'th', 'bo', 'be', 'a', 're', 'fo', 'th', 'se', 'so', 'in', 'th', 'pa', 'of', 'a', 'go', 'bo', 'Th', 'sc', 'of', 'ag', 'pa', 'an', 'th', 'so', 'ru', 'of', 'tu', 'pa', 'cr', 'a', 'co', 'at', 'in', 'bo', 'av', 're', 'an', 'cu', 'wa', 'to', 'em', 'on', 'li', 'jo', 'th', 'tr', 'ti', 'an', 'sp']

def get_duplicates(input_list):
    seen = set()
    duplicates = set()
    for word in input_list:
        if word in seen:
            duplicates.add(word)
        else:
            seen.add(word)
    return list(duplicates)

print(get_duplicates(my_list_of_words))

['cr', 'sh', 'se', 'fo', 'th', 'pa', 'on', 'wa', 're', 'ci', 'in', 'an', 'so', 'of', 'li', 'tr', 'bo', 'a']



48.   Write a function that takes a list of strings as input and returns a new list containing only the strings that contain at least one uppercase letter.

In [243]:
my_list = ['Sridhar','Goa',"India",'is','good','Hyderabad','Linda']

def get_names(input_list):
    return [word for word in input_list if word == word.capitalize()]

get_names(my_list)

['Sridhar', 'Goa', 'India', 'Hyderabad', 'Linda']

49.   Write a function that takes a list of integers as input and returns a new list containing only the numbers that are perfect cubes.

In [244]:
my_list = [randint(1,2000) for i in range(500)]

my_list.append(216)

my_list.append(27)

my_list.append(343)

# print(my_list)

perfect_cubes = []
for num in my_list:
    if round(num**(1/3))**3 == num:
        print(num)

216
27
343

50.   Write a function that takes a string as input and returns a new string that is the same as the input string, but with each letter replaced by its corresponding number in the alphabet (a=1, b=2, c=3, etc.).

In [266]:
letter_to_number = {chr(i): i - ord('a') + 1 for i in range(ord('a'), ord('z') + 1)}
letter_to_number


def alphabet_to_numbers(input_string):
    # Define a dictionary mapping letters to their corresponding numbers
    letter_to_number = {chr(i): i - ord('a') + 1 for i in range(ord('a'), ord('z') + 1)}

    # Convert each letter in the input string to its corresponding number
    # If the character is not a lowercase letter, keep it unchanged
    return ''.join(str(letter_to_number.get(char.lower(), char)) for char in input_string)

# Test the function
input_str = "Hello, World!"
result = alphabet_to_numbers(input_str)
print(result)

85121215, 231518124!

1. Write a lambda function that returns the square of a number.

In [280]:
square = lambda x : x**2
my_list = [i for i in range(1,11)]

squares_list = list(map(square, my_list))
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Write a lambda function that returns the sum of two numbers.

In [281]:
add_lambda  = lambda x,y: x+y

reduce(add_lambda, my_list)

55

3. Write a lambda function that returns the product of two numbers.

In [282]:
get_product = lambda x,y : x*y

reduce(get_product,my_list)

3628800

4. Write a lambda function that returns the difference of two numbers.

In [283]:
difference = lambda x,y: x-y

difference(45,28)

17

5. Write a lambda function that returns the modulus of two numbers.

In [285]:
get_mod = lambda x,y: x%y

get_mod(10,3)

1

6. Write a lambda function that checks whether a number is even.

In [287]:
check_even = lambda x: x%2 == 0

check_even(22)

True

7. Write a lambda function that checks whether a number is odd.

In [290]:
check_odd  = lambda x : x%2!=0 # A lambda function to check if the number passed is even or odd

check_odd(24)

False

8. Write a lambda function that checks whether a string is a palindrome.

In [301]:
check_palindrome = lambda x : x[::-1].lower() == x.lower() # checks whether the string passed is a palindrome (lower)

check_palindrome('Madam')

True

9. Write a lambda function that checks whether a string is all lowercase.

In [303]:
check_lower = lambda x: x == x.lower()

check_lower('ssRdhar')

False

10. Write a lambda function that checks whether a string is all uppercase.

In [306]:
all_upper = lambda x: x == x.upper()

all_upper('SRIDHAR')

True

11. Write a lambda function that returns the length of a string.

In [309]:
get_length = lambda x: len(x)

get_length('Wakeup to reality, nothing ever goes as planned in this accursed world')

70

12. Write a lambda function that returns the first character of a string.

In [310]:
get_first_char = lambda x : x[0]

get_first_char('Sridhar')

'S'

13. Write a lambda function that returns the last character of a string.

In [311]:
get_last_char = lambda x : x[-1]

get_last_char('Sridhar')

'r'

14. Write a lambda function that sorts a list of numbers in ascending order.

15. Write a lambda function that sorts a list of numbers in descending order.

16. Write a lambda function that sorts a list of strings in alphabetical order.

17. Write a lambda function that sorts a list of strings in reverse alphabetical order.

18. Write a lambda function that returns the maximum value in a list of numbers.

19. Write a lambda function that returns the minimum value in a list of numbers.

20. Write a lambda function that returns the sum of a list of numbers.

1. Write a recursive function to calculate the sum of a list of integers.

2. Write a recursive function to calculate the factorial of a number.

3. Write a recursive function to calculate the nth Fibonacci number.

4. Write a recursive function to calculate the greatest common divisor (GCD) of two numbers.

5. Write a recursive function to calculate the least common multiple (LCM) of two numbers.

6. Write a recursive function to reverse a string.

7. Write a recursive function to check if a string is a palindrome.

8. Write a recursive function to find the maximum value in a list of integers.

9. Write a recursive function to find the minimum value in a list of integers.

10. Write a recursive function to calculate the power of a number.

11. Write a recursive function to flatten a nested list.

12. Write a recursive function to calculate the sum of digits of a number.

13. Write a recursive function to find the number of occurrences of an element in a list.

14. Write a recursive function to merge two sorted lists.

15. Write a recursive function to generate all possible combinations of a list of integers.

1. Write a program that opens a file named "example.txt" and reads its contents.

2. Write a program that opens a file named "output.txt" and writes "Hello, world!" to it.

3. Write a program that opens a file named "output.txt" and appends "Hello, world!" to it.

4. Write a program that opens a file named "input.txt" and copies its contents to a new file named "output.txt".

5. Write a program that opens a file named "example.txt" and displays the number of words in it.

6. Write a program that opens a file named "example.txt" and displays the number of lines in it.

7. Write a program that opens a file named "example.txt" and displays the longest line in it.

8. Write a program that opens a file named "input.txt" and replaces all occurrences of the word "hello" with "hi".

9. Write a program that opens a file named "input.txt" and sorts its lines alphabetically, and then writes the sorted lines to a new file named "output.txt".

10. Write a program that opens a file named "input.txt" and reads its contents, and then creates a new file named "output.txt" with the same contents in reverse order.

11. Write a program that opens a file named "example.txt" and displays the number of characters in it.

12. Write a program that opens a file named "example.txt" and displays the number of times a specific word appears in it.

13. Write a program that opens a file named "input.txt" and removes all empty lines from it, and then writes the remaining lines to a new file named "output.txt".

14. Write a program that opens a file named "input.txt" and calculates the average word length in it.

15. Write a program that opens a file named "input.txt" and removes all occurrences of a specific word from it, and then writes the remaining lines to a new file named "output.txt".

16. Write a program that opens a file named "input.txt" and displays the number of unique words in it.

17. Write a program that opens a file named "example.txt" and displays the number of times each word appears in it.

18. Write a program that opens a file named "input.txt" and removes all non-alphanumeric characters from it, and then writes the remaining lines to a new file named "output.txt".

19. Write a program that opens a file named "input.txt" and displays the average line length in it.

20. Write a program that opens a file named "example.txt" and replaces all occurrences of a specific word with a user input word.

1. Create a module named "math_ops" that contains functions to add, subtract, multiply and divide two numbers.

2. Create a package named "my_package" that contains a module named "my_module" which prints "Hello, World!" when imported.

3. Create a module named "string_ops" that contains a function to reverse a string.

4. Create a package named "my_package" that contains a module named "my_module" which calculates the area of a circle.

5. Create a module named "file_ops" that contains a function to read a file and return its contents.

6. Create a package named "my_package" that contains a module named "my_module" which prints the Fibonacci sequence up to a specified number.

7. Create a module named "date_ops" that contains functions to get the current date and time, and to convert a date string to a datetime object.

8. Create a package named "my_package" that contains a module named "my_module" which calculates the factorial of a number.

9. Create a module named "list_ops" that contains a function to sort a list in ascending order.

10. Create a package named "my_package" that contains a module named "my_module" which calculates the sum of the first n numbers.

11. Create a module named "random_ops" that contains a function to generate a random number between two specified values.

12. Create a package named "my_package" that contains a module named "my_module" which calculates the area of a rectangle.

13. Create a module named "string_ops" that contains a function to count the number of vowels in a string.

14. Create a package named "my_package" that contains a module named "my_module" which calculates the area of a triangle.

15. Create a module named "file_ops" that contains a function to write a list of strings to a file.

16. Create a package named "my_package" that contains a module named "my_module" which checks whether a number is prime.

17. Create a module named "date_ops" that contains a function to calculate the difference between two dates in days.

18. Create a package named "my_package" that contains a module named "my_module" which calculates the area of a square.

19. Create a module named "list_ops" that contains a function to remove duplicates from a list.

20. Create a package named "my_package" that contains a module named "my_module" which calculates the sum of a list of numbers.

1. Write a Python program that catches a ZeroDivisionError and prints a message to the user.

2. Write a Python function that takes a list as input and returns the first element of the list. If the list is empty, raise an IndexError.

3. Write a Python program that uses a try-except block to handle a NameError.

4. Write a Python program that reads a file and catches a FileNotFoundError. If the file is found, print the contents of the file.

5. Write a Python function that takes two integers as input and returns their sum. If the input is not an integer, raise a TypeError.

6. Write a Python program that connects to a database and catches a ConnectionError.

7. Write a Python function that takes a string as input and returns the string in all uppercase letters. If the input is not a string, raise a TypeError.

8. Write a Python program that reads a file and catches an IOError. If the file is found, print the contents of the file.

9. Write a Python function that takes a list as input and returns the last element of the list. If the list is empty, raise an IndexError.

10. Write a Python program that catches a KeyError and prints a message to the user.

11. Write a Python function that takes a number as input and returns the square of the number. If the input is not a number, raise a TypeError.

12. Write a Python program that catches an EOFError and prints a message to the user.

13. Write a Python function that takes a string as input and returns the string in all lowercase letters. If the input is not a string, raise a TypeError.

14. Write a Python program that reads a file and catches a UnicodeError. If the file is found, print the contents of the file.

15. Write a Python function that takes a list as input and returns the length of the list. If the input is not a list, raise a TypeError.

1. Create a Person class with attributes name and age. Write a method that prints the name and age of a person object.

2. Create a Rectangle class with attributes width and height. Write a method that calculates the area of a rectangle object.

3. Create a BankAccount class with attributes balance and owner. Write methods that allow a user to deposit and withdraw money from their account.

4. Create a Car class with attributes make, model, and year. Write a method that prints the make, model, and year of a car object.

5. Create a Dog class with attributes name, breed, and age. Write a method that prints the name, breed, and age of a dog object.

6. Create a Student class with attributes name, id, and courses. Write a method that adds a new course to a student object's course list.

7. Create a Book class with attributes title, author, and year_published. Write a method that prints the title, author, and year of publication of a book object.

8. Create a Bank class with attributes name and accounts. Write a method that adds a new account to the bank's account list.

9. Create a Shape class with a method that calculates the area of a shape object. Create subclasses Triangle, Rectangle, and Circle that inherit from Shape and define their own methods for calculating area.

10. Create a Song class with attributes title, artist, and album. Write a method that prints the title, artist, and album of a song object.

11. Create a Computer class with attributes brand, model, and price. Write a method that prints the brand, model, and price of a computer object.

12. Create a Movie class with attributes title, director, and year. Write a method that prints the title, director, and year of a movie object.

13. Create a BankCustomer class with attributes name, address, and accounts. Write a method that adds a new account to a customer's account list.

14. Create a Animal class with a method that prints the sound that the animal makes. Create subclasses Dog, Cat, and Bird that inherit from Animal and define their own methods for making sound.

15. Create a Person class with attributes name, age, and gender. Write a method that prints the name, age, and gender of a person object. Create a subclass Employee that inherits from Person and adds an attribute salary. Write a method that prints the salary of an employee object.

1. Write a program that defines a class Animal with a method speak() that prints out a message. Then, create a subclass Dog and override the speak() method to bark. Finally, create an instance of the Dog class and call the speak() method.

2. Create a class Shape with an instance variable area and a method calculate_area(). Then, create subclasses Rectangle and Triangle that override the calculate_area() method. The Rectangle class should have instance variables length and width, while the Triangle class should have instance variables base and height.

3. Create a class Person with instance variables name and age, and a method greet() that prints a greeting message. Then, create a subclass Student with instance variables student_id and courses, and override the greet() method to print a different greeting message.

4. Create a class Calculator with instance methods add() and subtract(). Then, create a subclass ScientificCalculator that inherits from Calculator and adds instance methods sin() and cos(). Finally, create an instance of the ScientificCalculator class and call the sin() method.

5. Create a class Employee with instance variables name and salary, and a method get_details() that prints out the employee's details. Then, create a subclass Manager that overrides the get_details() method to print additional information about the manager.

6. Create a class Animal with instance variables name and species, and a method move(). Then, create a subclass Bird with an additional instance variable wingspan and an overridden move() method that prints "flying". Finally, create an instance of the Bird class and call the move() method.

7. Create a class BankAccount with instance variables balance and interest_rate, and methods deposit() and withdraw(). Then, create a subclass CheckingAccount that overrides the withdraw() method to deduct a transaction fee. Finally, create an instance of the CheckingAccount class and call the withdraw() method.

8. Create a class Vehicle with instance variables make, model, and year, and a method drive(). Then, create a subclass Car with an additional instance variable color and an overridden drive() method that prints "driving a car". Finally, create an instance of the Car class and call the drive() method.

9. Create a class Shape with instance variables length and width, and a method area(). Then, create subclasses Rectangle and Square that override the area() method. The Rectangle class should have an additional instance variable height, while the Square class should have only one instance variable side.

10. Create a class Person with instance variables name and age, and a method introduce() that prints a message introducing the person. Then, create a subclass Student with an additional instance variable school and an overridden introduce() method that includes the school name.

1. Create a decorator that prints the execution time of a function.

2. Create a decorator that logs the input arguments and return value of a function.

3. Create a decorator that adds a prefix to the output of a function.

4. Create a decorator that transforms the output of a function into uppercase.

5. Create a decorator that validates the input arguments of a function.

6. Create a decorator that times the execution of a function and logs the result to a file.

7. Create a decorator that validates the return value of a function.

8. Create a decorator that adds a suffix to the output of a function.

1. Define a class Person with a class-level variable count that keeps track of the number of instances of the class created. Implement a method get_count that returns the value of count.

2. Create a class Rectangle with class-level variables width and height. Implement a method get_area that returns the area of the rectangle.

3. Define a class Shape with a class-level variable count that keeps track of the number of instances of the class created. Implement a class method get_count that returns the value of count.

4. Create a class Employee with class-level variables name and salary. Implement a static method calculate_bonus that calculates the bonus for an employee based on their salary.

5. Define a class Vehicle with class-level variables wheels and speed. Implement a method get_max_speed that returns the maximum speed of the vehicle.

6. Create a class BankAccount with class-level variables interest_rate and balance. Implement a method add_interest that adds interest to the account based on the interest rate.

7. Define a class School with a class-level variable students that stores the number of students in the school. Implement a class method get_average_student_age that returns the average age of the students in the school.

8. Create a class Book with class-level variables title, author, and publisher. Implement a static method search_by_author that returns a list of all books written by a given author.

9. Define a class Animal with class-level variables name and species. Implement a method get_habitat that returns the habitat of the animal based on its species.

10. Create a class Circle with class-level variables radius and pi (set to 3.14). Implement a method get_circumference that returns the circumference of the circle.

11.   Define a class Game with class-level variables players and scoreboard. Implement a method add_player that adds a player to the game and updates the scoreboard accordingly.

12.   Create a class Bank with class-level variables accounts and transactions. Implement a static method get_account_balance that returns the balance of a given account number.

13.   Define a class Playlist with class-level variables songs and current_song. Implement a method add_song that adds a song to the playlist and updates the current song accordingly.

14.   Create a class Store with class-level variables inventory and sales. Implement a static method get_product_price that returns the price of a given product.

15.   Define a class Course with class-level variables students and assignments. Implement a method add_student that adds a student to the course and updates the assignments accordingly.

16.   Create a class BankCard with class-level variables card_type and card_limit. Implement a static method get_card_balance that returns the available balance on a given bank card.

17.   Define a class Playlist with class-level variables songs and current_song. Implement a class method get_song_count that returns the total number of songs in the playlist.

18.   Create a class Store with class-level variables inventory and sales. Implement a method add_sale that updates the inventory and sales when a product is sold.

19.   Define a class Car with class-level variables make and model. Implement a static method get_car_info that returns a string with the make and model of the car.

20.   Create a class Bookstore with class-level variables books and book_sales. Implement a method add_book that adds a book to the bookstore and updates the book sales accordingly.

1. Write a Python class EvenNumbers that implements an iterator which returns even numbers from 0 to a given limit n. The class should have a constructor that takes n as a parameter.

2. Implement a Python class Squares that generates an iterator for the squares of numbers from 1 to a given limit n. The class should have a constructor that takes n as a parameter.

3. Write a Python program that uses the zip() built-in function and a custom iterator to iterate over two lists simultaneously. Define a class MyZip that takes two lists as input and generates tuples containing elements from the two lists at corresponding positions.

4. Implement a Python class Fibonacci that generates an iterator for the Fibonacci sequence up to a given limit n. The class should have a constructor that takes n as a parameter.

5. Create a Python class MyRange that implements an iterator that returns numbers from a given start to a given end with a given step size. The class should have a constructor that takes start, stop, and step as parameters.

6. Write a Python program that uses a custom iterator to iterate over a dictionary in reverse order. Define a class ReverseDict that takes a dictionary as input and generates key-value pairs in reverse order.

7. Implement a Python class Primes that generates an iterator for prime numbers up to a given limit n. The class should have a constructor that takes n as a parameter.

8. Write a Python program that uses a custom iterator to iterate over a string in reverse order. Define a class ReverseString that takes a string as input and generates characters in reverse order.

9. Create a Python class MyEnumerate that implements an iterator that returns tuples containing the index and value of each element in a given list. The class should have a constructor that takes a list as a parameter.

10. Implement a Python class Palindrome that generates an iterator for palindrome numbers up to a given limit n. The class should have a constructor that takes n as a parameter. A palindrome number is a number that remains the same when its digits are reversed.

1. Write a Python function that accepts a NumPy array and returns the sum of all the even numbers in the array.

2. Write a Python function that accepts two NumPy arrays and returns their dot product.

3. Write a Python function that accepts a NumPy array and returns a new array with all the elements sorted in descending order.

4. Write a Python function that accepts a NumPy array and returns the mean of the elements in the array.

5. Write a Python function that accepts a NumPy array and returns the standard deviation of the elements in the array.

6. Write a Python function that accepts a NumPy array and returns the maximum value and its index in the array.

7. Write a Python function that accepts a NumPy array and returns a new array with only the unique elements in the original array.

8. Write a Python function that accepts a NumPy array and returns a new array with all the elements raised to the power of two.

9. Write a Python function that accepts a NumPy array and returns a new array with only the elements that are greater than 5.

10. Write a Python function that accepts a NumPy array and returns a new array with the cumulative sum of the elements.

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]1.      Use describe method and info method"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]2.      Find duplicate value"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]3.      Removing invalid values which are not numeric"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]4.      Handle missing values"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]5.      Convert into int"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]6.      Print the cleaned Series"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]7.      Find the amount greater than 5000"

"#Series of sales amount with inconsistent data

[1000, 2000, 3000, 4000, '5000', '6000a', '7000b', '8000', '9000c', np.nan]8.      Plot a bar graph"